/*Asterisk wildcard selectorto override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #94547E;

}

header {
    background-color: #94547E;
    font-family: 'Pontano Sans', sans-serif;
}

main {
    background-color: #FFE0C4;
    flex: 1 0 auto;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #F58EA1;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
}